@media screen and (min-width: 1024px) {
  .burgerNavBar {
    display: none;
  }
}

.navbar .navbar-brand {
  justify-content: center;
}

/* 
.bm-menu-wrap {
  background-color: none;
  background-image: url("https://www.transparenttextures.com/patterns/subtle-grunge.png");
} */
