.contentWrapper {
  background-color: #ffffed;

  background-image: url("https://www.transparenttextures.com/patterns/subtle-grunge.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.footer {
  background-color: #00a572;
  /* background-image: url("https://www.transparenttextures.com/patterns/subtle-white-feathers.png"); */

  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

/* .header-image {
  background-image: url("./images/BHW_head.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 15%;
} */

a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active {
  background-color: transparent;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  /* top: 25px; */
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #494949;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  /* background-image: url("./images/BHW_burger_logo.png"); */
  background: #f2f2e2;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: gray;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.1);
  left: 0;
}

@media screen and (max-width: 1023px) {
  .section {
    padding: 0.5rem;
  }
  .mt-3 {
    position: absolute;
    left: 1.5rem;
    top: 0;
    margin-top: 1.5rem !important;
    padding: 0 0.5rem 0 0.5rem;
    font-size: 1.5rem !important;

    color: gray;
    background-color: white;
    opacity: 0.7;
  }

  .bm-burger-button {
    top: 105px;
    right: 20px;
  }
  .is-size-4 {
    font-size: 1rem !important;
    font-weight: bold;
  }
  .title.is-4 {
    font-size: 1rem;
  }
  .column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.5rem;
  }
}
